
/* Style for the navigation bar */
.navbar {
    background-color: #333; /* Background color for the navigation bar */
    overflow: hidden;
  }
  
  /* Style for the navigation links */
  .navbar a {
    float: left; /* Float the links to the left to create a horizontal layout */
    display: block; /* Display links as block elements */
    color: white; /* Text color */
    text-align: center; /* Center-align text */
    padding: 14px 16px; /* Add padding around the links */
    text-decoration: none; /* Remove underline from links */
  }
  
  /* Change link color on hover */
  .navbar a:hover {
    background-color: #ddd; /* Background color on hover */
    color: black; /* Text color on hover */
  }
  
  /* Style for the project div */
  .project {
    margin-top: 15px;
    background-color: aqua;
    height: 70vh;
    width: 50%;
  }
  
  /* Style for the project list div */
  .project-list {
    background-color: aqua;
    height: 100vh;
    width: 50%;
  }
  .content{
    display: flex;

  }
